@charset 'utf-8';

//Abstracts
@import './abstracts/_abstracts-dir';

// base
@import './base/_base-dir'; //

//Layout
@import './layout/_layout-dir';
body {
  font-family: 'New York', 'Courier New', Courier, monospace;
  background-color: black;
}

h1 {
  font-family: 'New York', 'Courier New', Courier, monospace;
  color: white;
  font-weight: 500;
}
