@use '../abstracts/mixins' as m;
.footer {
    .container {
    }

    &__container {
        display: flex;
        justify-content: space-between;
        @include m.breakpoint(lg) {
            align-items: center;
        }
    }

    &__first {
    }
    &__mid {
    }
    &__last {
    }
}
