@use '../abstracts/mixins' as m;
.footer {
  margin-bottom: 5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    @include m.breakpoint(lg) {
      align-items: center;
    }
  }
}
