@use '../abstracts/mixins' as m;
.header {
  padding-top: var(--spc-2xl);

  &__name {
    font-weight: 600;
  }

  @include m.breakpoint(md) {
    padding-top: var(--spc-5xl);

    .theme-toggle {
      display: initial;
    }
  }
}
