.floating-img {
  position: fixed;
  top: 0;
  height: 350px;
  width: 500px;
  pointer-events: none;
  opacity: 0;
  img {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
  }
}
