@use '../abstracts/mixins' as m;
.socials {
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  position: relative;
  background: var(--clr-primary);
  z-index: 20;
  &__text {
    z-index: 10;
    border: 1px solid gray;
    border-top: none;
    position: relative;
    background-color: var(--clr-primary);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 0.5px;
      width: 100%;
      background: var(--clr-secondary);
      @include m.transition(width, 350ms, ease-in-out);
    }
  }

  &:hover {
    & .socials__text {
      transform: scale(0.9);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: -10px 10px 5px var(--clr-toggle-accent);

      &::before {
        width: 20%;
      }
    }
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 350ms ease-in-out;
  }
}

.socials:hover #git {
  transform: translateY(-150px);
}
.socials:hover #ig {
  transform: translateY(-100px);
}
.socials:hover #twit {
  transform: translateY(-50px);
}
