@use '../abstracts/fonts' as f;
@use '../abstracts/mixins' as m;
.flex {
 display: flex;
}

.flex-col {
 flex-direction: column;
}

.flex-1 {
 flex: 1;
}

.space-between {
 justify-content: space-between;
}
.items-center {
 align-items: center;
}

.no-display {
 display: none;
}

.block {
 display: block;
}
.text-right {
 text-align: right;
}

.max-w-400 {
 max-width: 400px;
}

.small-scr-only {
 @include m.breakpoint(md) {
  display: none;
 }
}

.medium-scr-only {
 display: none;

 @include m.breakpoint(sm) {
  display: block;
 }
}

.large-scr-only {
 display: none;
 @include m.breakpoint(md) {
  display: inline-block;
 }
}

.relative {
 position: relative;
}

.all-caps {
 text-transform: uppercase;
}

@each $key, $val in f.$font-sizes {
 .text-#{$key} {
  font-size: #{$val};
 }
}
