@use '../abstracts/fonts' as f;
@use '../abstracts//mixins' as m;
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.no-display {
  display: none;
}

.small-scr-only {
  @include m.breakpoint(md) {
    display: none;
  }
}

@each $key, $val in f.$font-sizes {
  .text-#{$key} {
    font-size: #{$val};
  }
}
