@font-face {
  font-family: 'New York';
  src: url('../../assets/fonts/NewYork/NewYork.woff2');
  src: url('../../assets/fonts/NewYork/NewYork.woff') format('woff'),
    url('../../assets/fonts/NewYork/NewYork.otf') format('opentype'),
    url('../../assets/fonts/NewYork/NewYork.ttf') format('truetype');
}
