@use './colors';
@use './spacing';
@use './fonts';

:root {
  //colors
  @each $key, $val in colors.$colors {
    --clr-#{$key}: #{$val};
  }

  //spacing
  @each $key, $val in spacing.$spacing {
    --spc-#{$key}: #{$val};
  }

  //font family
  @each $key, $val in fonts.$fonts {
    --ff-#{$key}: #{$val};
  }

  //font-sizes

  @each $key, $val in fonts.$font-sizes {
    --fs-#{$key}: #{$val};
  }

  //letter spacing

  @each $key, $val in fonts.$font-tracking {
    --ft-#{$key}: #{$val};
  }

  --clr-primary: var(--clr-beige);
  --clr-secondary: var(--clr-black);
  --clr-toggle-accent: var(--clr-gray);
}
