@font-face {
  font-family: "New York";
  src: url("../asset/fonts/NewYork/NewYork.woff2");
  src: url("../asset/fonts/NewYork/NewYork.woff") format("woff"), url("../asset/fonts/NewYork/NewYork.otf") format("opentype"), url("../asset/fonts/NewYork/NewYork.ttf") format("truetype");
}
:root {
  --clr-beige: #e6e6e6;
  --clr-black: #000000;
  --clr-dark-gray: #1a1a1a;
  --clr-white: #ffffff;
  --clr-gray: #8b8b8b;
  --spc-xs: 0.25rem;
  --spc-sm: 0.5rem;
  --spc-md: 1rem;
  --spc-lg: 1.5rem;
  --spc-xl: 2rem;
  --spc-2xl: 2.5rem;
  --spc-3xl: 3.5rem;
  --spc-4xl: 5rem;
  --spc-5xl: 6.5rem;
  --ff-new-york:  'New York', 'Times New Roman', Times, serif;
  --ff-helevetica:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  --ff-montserrat: 'Montserrat', sans-serif;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2.5rem;
  --fs-2xl: 3.5rem;
  --fs-3xl: 4.5rem;
  --ft-xs: -3px;
  --ft-sm: -1;
  --ft-md: 0;
  --ft-lg: 2px;
  --bp-sm: 578px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --clr-primary: var(--clr-beige);
  --clr-secondary: var(--clr-black);
  --clr-toggle-accent: var(--clr-gray);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2 {
  font-family: var(--ff-new-york);
  font-weight: 500;
  line-height: 1;
  letter-spacing: var(--ft-xs);
}

p {
  font-size: var(--fs-md);
  line-height: 1.2;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-between {
  align-items: space-between;
}

.no-display {
  display: none;
}

.block {
  display: block;
}

.text-right {
  text-align: right;
}

.max-w-400 {
  max-width: 400px;
}

.spacer-y-xs > * + * {
  margin-top: 6px;
}

@media (min-width: 578px) {
  .xsmall-scr-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .small-scr-only {
    display: none;
  }
}

@media (min-width: 578px) {
  .small-scr-up {
    display: block;
  }
}

@media (min-width: 992px) {
  .medium-scr-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .medium-scr-up {
    display: block;
  }
}

@media (min-width: 1200px) {
  .large-scr-only {
    display: none;
  }
}

@media (min-width: 992px) {
  .large-scr-up {
    display: block;
  }
}

.relative {
  position: relative;
}

.all-caps {
  text-transform: uppercase;
}

.slide-up {
  transform: translateY(-100%);
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2.5rem;
}

.text-2xl {
  font-size: 3.5rem;
}

.text-3xl {
  font-size: 4.5rem;
}

.theme__dark {
  --clr-primary: var(--clr-dark-gray);
  --clr-secondary: var(--clr-white);
}

.ham > div {
  width: 40px;
  height: 3px;
  background: var(--clr-secondary);
}
.ham > * + * {
  margin-top: 4px;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-primary);
  padding: var(--spc-3xl) var(--spc-lg);
  z-index: 10;
}
.mobile-nav .nav {
  font-family: var(--ff-new-york);
  text-align: right;
  letter-spacing: var(--ft-xs);
}
.mobile-nav .nav {
  font-size: 3rem;
}
@media screen and (min-width: 23.4375rem) {
  .mobile-nav .nav {
    font-size: calc(
          3rem +
            4 *
            ((100vw - 23.4375rem) / 24.5625)
        );
  }
}
@media screen and (min-width: 48rem) {
  .mobile-nav .nav {
    font-size: 7rem;
  }
}
.mobile-nav .nav ul > * + * {
  margin-top: var(--spc-md);
}

.main-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: clamp(var(--fs-md), 1vw, var(--fs-lg));
  text-transform: uppercase;
}
.main-nav ul > * + * {
  margin-top: var(--spc-xs);
}
@media (min-width: 1200px) {
  .main-nav ul > * + * {
    margin-top: 0;
  }
  .main-nav:hover ul > * + * {
    margin-top: var(--spc-xs);
  }
}
.main-nav li {
  transition: all 450ms ease-in-out;
}

.active {
  color: var(--clr-toggle-accent);
}

.project {
  padding: var(--spc-2xl) 0;
  border-top: 1px solid var(--clr-secondary);
}
@media (min-width: 992px) {
  .project {
    padding: var(--spc-4xl) 0;
  }
}
.project__name {
  text-transform: uppercase;
  font-weight: 500;
}
.project__name {
  font-size: 1.2rem;
}
@media screen and (min-width: 23.4375rem) {
  .project__name {
    font-size: calc(
          1.2rem +
            0.3 *
            ((100vw - 23.4375rem) / 38.5625)
        );
  }
}
@media screen and (min-width: 62rem) {
  .project__name {
    font-size: 1.5rem;
  }
}
.project__desc {
  font-size: 0.875rem;
}
@media screen and (min-width: 23.4375rem) {
  .project__desc {
    font-size: calc(
          0.875rem +
            0.225 *
            ((100vw - 23.4375rem) / 38.5625)
        );
  }
}
@media screen and (min-width: 62rem) {
  .project__desc {
    font-size: 1.1rem;
  }
}
.project__img {
  padding-left: var(--spc-lg);
}

.socials {
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  position: relative;
  background: var(--clr-primary);
  z-index: 20;
}
.socials__text {
  z-index: 10;
  border: 1px solid gray;
  border-top: none;
  position: relative;
  background-color: var(--clr-primary);
}
.socials__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0.5px;
  width: 100%;
  background: var(--clr-secondary);
  transition: width 350ms ease-in-out;
}
.socials:hover .socials__text {
  transform: scale(0.9);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -10px 10px 5px var(--clr-toggle-accent);
}
.socials:hover .socials__text::before {
  width: 20%;
}
.socials > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all 350ms ease-in-out;
}

.socials:hover #git {
  transform: translateY(-150px);
}

.socials:hover #ig {
  transform: translateY(-100px);
}

.socials:hover #twit {
  transform: translateY(-50px);
}

.header {
  padding-top: var(--spc-2xl);
  margin-bottom: 6rem;
}
.header__name {
  font-weight: 600;
}
@media (min-width: 768px) {
  .header {
    padding-top: var(--spc-5xl);
    margin-bottom: 8rem;
  }
  .header .theme-toggle {
    display: initial;
  }
}

.landing {
  margin-bottom: 4rem;
}
.landing h1 {
  font-size: calc(
    70px + (200 - 70) *
      ((100vw - 375px) / (1200 - 375))
  );
}
.landing h1 > * + * {
  margin-top: var(--spc-sm);
}
.landing h1 span:last-child {
  text-align: right;
}
@media (min-width: 768px) {
  .landing {
    margin-bottom: 8rem;
  }
  .landing__container {
    max-width: 65%;
  }
  .landing h1 {
    font-size: calc(
    91px + (101 - 91) *
      ((100vw - 768px) / (900 - 768))
  );
  }
  .landing h1 > * + * {
    margin-top: var(--spc-xl);
  }
}
@media (min-width: 1800px) {
  .landing h1 {
    font-size: 9rem;
  }
}

.about {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .about {
    margin-bottom: 6rem;
  }
}
.about__header p:first-child {
  margin-bottom: var(--spc-md);
}
@media (min-width: 578px) {
  .about__header p:first-child {
    margin-bottom: 0;
  }
}
.about__header--img {
  margin-bottom: var(--spc-3xl);
}
@media (min-width: 578px) {
  .about__header--img {
    margin-bottom: 0;
  }
}
@media (min-width: 578px) {
  .about__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 3rem auto;
  }
  .about__header--title {
    padding: 3rem 0 3rem 0;
  }
}
@media (min-width: 768px) {
  .about__header {
    margin: 0 0 6rem auto;
  }
  .about__header--title {
    padding: 3rem 0 3rem 4rem;
  }
}
.about__body p {
  text-indent: var(--spc-4xl);
}
.about__body p {
  font-size: 1rem;
}
@media screen and (min-width: 23.4375rem) {
  .about__body p {
    font-size: calc(
          1rem +
            0.8 *
            ((100vw - 23.4375rem) / 51.5625)
        );
  }
}
@media screen and (min-width: 75rem) {
  .about__body p {
    font-size: 1.8rem;
  }
}
.about__body p:first-child {
  margin-bottom: var(--spc-lg);
}
@media (min-width: 578px) {
  .about__body p:first-child {
    margin-bottom: var(--spc-xl);
  }
}

.projects {
  margin-bottom: 4rem;
}
@media (min-width: 992px) {
  .projects {
    margin-bottom: 6rem;
  }
}
.projects .container {
  border-bottom: 2px solid var(--clr-secondary);
}
.projects__head {
  margin-bottom: var(--spc-xl);
}
.projects__head {
  font-size: 3rem;
}
@media screen and (min-width: 23.4375rem) {
  .projects__head {
    font-size: calc(
          3rem +
            3.5 *
            ((100vw - 23.4375rem) / 51.5625)
        );
  }
}
@media screen and (min-width: 75rem) {
  .projects__head {
    font-size: 6.5rem;
  }
}
@media (min-width: 992px) {
  .projects__head {
    margin-bottom: var(--spc-3xl);
  }
}

.contact {
  margin-bottom: 4rem;
}
@media (min-width: 992px) {
  .contact {
    margin-bottom: 6rem;
  }
}
.contact h2 {
  font-size: 3.7rem;
}
@media screen and (min-width: 23.4375rem) {
  .contact h2 {
    font-size: calc(
          3.7rem +
            6.3 *
            ((100vw - 23.4375rem) / 51.5625)
        );
  }
}
@media screen and (min-width: 75rem) {
  .contact h2 {
    font-size: 10rem;
  }
}
.contact .reach {
  padding-left: 3.625rem;
}
@media screen and (min-width: 23.4375rem) {
  .contact .reach {
    padding-left: calc(
          3.625rem +
            6.875 *
            ((100vw - 23.4375rem) / 51.5625)
        );
  }
}
@media screen and (min-width: 75rem) {
  .contact .reach {
    padding-left: 10.5rem;
  }
}

.reach a {
  font-size: 1rem;
}
@media screen and (min-width: 23.4375rem) {
  .reach a {
    font-size: calc(
          1rem +
            0.5 *
            ((100vw - 23.4375rem) / 51.5625)
        );
  }
}
@media screen and (min-width: 75rem) {
  .reach a {
    font-size: 1.5rem;
  }
}

.footer {
  margin-bottom: 5rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .footer__container {
    align-items: center;
  }
}
.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

body {
  font-family: var(--ff-montserrat);
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  transition: background 350ms ease-in-out;
}

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

a {
  text-decoration: none;
  color: var(--clr-secondary);
  position: relative;
  cursor: pointer;
}
@media (min-width: 992px) {
  a:after {
    font-family: "Font Awesome 6 Free";
    position: absolute;
    margin-left: var(--spc-xs);
    font-weight: 900;
    content: "\f176";
    transform: rotate(45deg) translateY(7px);
    opacity: 0;
  }
  a:hover::after {
    transition: transform 350ms cubic-bezier(0.25, 0.75, 0.5, 1.25);
    opacity: 1;
    transform: rotate(45deg) translateY(0);
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  line-height: 1;
}

img {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
