:root {
  --clr-beige: #e6e6e6;
  --clr-black: #000000;
  --clr-dark-gray: #1a1a1a;
  --clr-white: #ffffff;
  --spc-xs: 0.25rem;
  --spc-sm: 0.5rem;
  --spc-md: 1rem;
  --spc-lg: 1.5rem;
  --spc-xl: 2rem;
  --spc-2xl: 2.5rem;
  --spc-3xl: 3.5rem;
  --clr-primary: var(--clr-beige);
  --clr-secondary: var(--clr-black);
}

@font-face {
  font-family: "New York";
  src: url("../../assets/fonts/NewYork/NewYork.woff2");
  src: url("../../assets/fonts/NewYork/NewYork.woff") format("woff"), url("../../assets/fonts/NewYork/NewYork.otf") format("opentype"), url("../../assets/fonts/NewYork/NewYork.ttf") format("truetype");
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "New York", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 1;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.theme__dark {
  --clr-primary: var(--clr-dark-gray);
  --clr-secondary: var(--clr-white);
}

.ham > div {
  width: 40px;
  height: 3px;
  background: var(--clr-secondary);
}
.ham > * + * {
  margin-top: 4px;
}

.mobile-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-primary);
  padding: var(--spc-3xl) var(--spc-md);
}
.mobile-nav .nav {
  font-family: "New York", "Times New Roman", Times, serif;
  text-align: right;
  font-size: 4rem;
}
.mobile-nav .nav ul > * + * {
  margin-top: var(--spc-lg);
}

.header {
  padding-top: var(--spc-2xl);
}
.header__name {
  font-weight: 600;
}

.container {
  padding: 0 var(--spc-sm);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
  line-height: 1;
}

/*# sourceMappingURL=index.css.map */
